.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    width: 100%;
    background-color: #829fda;
    min-height: calc(50px + 10vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.Website-name {
    font-size: 50px;
    font-family: sans-serif, bold;
    text-align: left;
    margin-left: 2%;
}

.Navigation-bar {
    background-color: beige;
    font-size: calc(10px + 2vh);
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    min-height: calc(35px + 2vh);
    padding: 20px;
    margin: 20px;
}

.button {
    background-color: #829fda;
    border: none;
}

.NavLinks {
    text-decoration: none;
}

.App-link {
    color: #000000;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
